from datetime import timedelta

MONGODB_SETTINGS = {
    "db": "mongo_database", # change this to your desired database name
    "host": "127.0.0.1", # change this to your database hostname or address
    "port": 27017, # change this to your database port
}

SECRET_KEY = 'top-secret-key' # change this to be as random as possible

JWT_AUTH_URL_RULE = '/login'
JWT_AUTH_USERNAME_KEY = 'login'
JWT_EXPIRATION_DELTA = timedelta(hours=2)
JWT_AUTH_HEADER_PREFIX = 'Bearer'
JWT_SECRET_KEY = 'top-secret-key'

BASE_URL = 'http://127.0.0.1:5000/'
ABS_PATH = '/absolute/path/to/project/folder'
ABS_UPLOAD_FOLDER = '/absolute/path/to/project/folder/app/uploads'
UPLOAD_FOLDER = 'app/uploads'
MAX_CONTENT_LENGTH = 16 * 1024 * 1024
